.app {
  display: grid;
  grid-template-areas:
    'a a'
    'e d'
    'b c';
  grid-auto-columns: 48% 52%;
  grid-auto-rows: min-content;
  column-gap:   60px;
  font-family: 'Roboto Slab', serif;
  height: 100%;
  width: calc(100vw - 220px);
  padding: 40px 80px;
  color: var(--grey10);
}

.app-pitch {
  grid-area: e;
}

.app-header {
  grid-area: a;
  display: flex;
  flex-direction: row;
  height: 12rem;
  font-family: 'Tomorrow', sans-serif;
  margin-bottom: 24px;
}

.app-logo {
  height: 12rem;
  width: 12rem;
  transform: scale(0.6);
  filter: hue-rotate(60deg)
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: logo-rotate infinite 20s ease-in-out;
  }
}

@keyframes logo-rotate {
  0% {
    transform: scale(0.6)
               rotate(0deg);
  }
  50% {
    transform: scale(0.6)
               rotate(5deg);
  }
  1000% {
    transform: scale(0.6)
               rotate(0deg);
  }
}


.app-header-group {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.app-title {
  margin: 0;
  font-size: 4rem;
}

.app-description {
  font-size: 1.5rem;
  margin: 0;
}

.meta {
  grid-area: b;
}

.app-form {
  grid-area: c;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-code {
  grid-area: d;

}
