.app {
  display: grid;
  grid-template-areas:
    'a a'
    'b c'
    'd d'
    'e e';
  grid-auto-columns: 48% 52%;
  grid-auto-rows: min-content;
  column-gap: 60px;
  row-gap: 80px;
  font-family: 'Roboto Slab', serif;
  height: 100%;
  width: calc(100vw - 240px);
  max-width: 100vw - 40px;
  padding: 40px 80px 0 80px;
  color: var(--grey10);
}

@media (max-width: 1400px) {
  .app {
    grid-template-areas:
      'a'
      'b'
      'c'
      'd'
      'e';
    margin: 0 auto;
    grid-auto-columns: 100%;
  }
}

.app-header {
  grid-area: a;
  display: flex;
  flex-direction: row;
  height: 12rem;
  font-family: 'Tomorrow', sans-serif;
  margin-bottom: 24px;
}

.app-pitch {
  position: relative;
  grid-area: b;
  min-width: 640px;
  padding-bottom: 40px;
}

@media (max-width: 1400px) {
  .app-pitch {
    padding-bottom: 0;
  }
}

.app-code {
  grid-area: c;
  min-width: 640px;
}

.app-pitch-2 {
  grid-area: d;
  min-width: 640px;
}

.app-footer {
  grid-area: e;
  min-width: 640px;
}

.app-logo {
  height: 12rem;
  width: 12rem;
  transform: scale(0.6);
  filter: hue-rotate(60deg)
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: logo-rotate infinite 20s ease-in-out;
  }
}

@keyframes logo-rotate {
  0% {
    transform: scale(0.6)
               rotate(0deg);
  }
  50% {
    transform: scale(0.6)
               rotate(5deg);
  }
  1000% {
    transform: scale(0.6)
               rotate(0deg);
  }
}


.app-header-group {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.app-title {
  margin: 0;
  font-size: 4rem;
}

.app-description {
  font-size: 1.5rem;
  margin: 0;
}

.app-form {
  position: relative;
  grid-area: c;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

