.button {
  box-sizing: border-box;
  height: 40px;
  width: fit-content;

  font-size: 1rem;

  padding: 0 24px;
  margin: 0 12px 20px 0;

  background: var(--grey50);
  color: var(--grey00);

  border: 1px solid var(--grey40);
  border-radius: 4px;

  outline: none;
  transition: all 150ms ease-in-out;
}

.button:hover {
  background: var(--grey40);
  cursor: pointer;
}

.button:focus {
  box-shadow: 0 0 0 2px var(--grey30);
}

.button:active {
  background: var(--grey30);
  border-color: var(--grey30);
  text-shadow: 0 0 2px var(--grey00);
}
