.form {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 600px;
  margin: 0 auto;
}

.form-header {
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 8px;
  margin: 0 0 16px 0;
  border-bottom: 1px solid var(--grey20);
}

.form-header-2 {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0 0 16px 0;
}

.form-array {
  display: flex;
  flex-direction: column;
}

.form-array-item {
  display: flex;
  flex-direction: row;
}

.form-array-buttons {
  display: flex;
  flex-direction: row;
}
