.form {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 520px;
  margin: 0 auto;

  border: 1px solid var(--grey40);
}

.form-header {
  font-size: 1.5rem;
  margin: 0;
}

.form-array {
  display: flex;
  flex-direction: column;
  max-width: 392px;
  padding-left: 8px;
}

.form-array-buttons {
  display: flex;
  flex-direction: row;
}
