body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(24px);
  color: white;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #393d45;
  padding: 24px 16px;
  border-radius: 8px;
  box-shadow: inset 0 4px 0 rgba(126, 126, 126, 0.2),
    inset 0 -4px 0 rgba(126, 126, 126, 0.2);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

button {
  margin: 2.5em;
}

.error-box {
  border: 1px solid #282c34;
  padding: 16px 52px;
  margin: 12px;
}
