body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --grey00: #FFFFFF;
  --grey10: #F7F9FD;
  --grey20: #DAE3F3;
  --grey30: #C5D2E7;
  --grey40: #67768D;
  --grey50: #4B5564;
  --grey60: #39414D;

  --red10: #FFF5F5;
  --red20: #FDA6A6;
  --red30: #FA5959;
  --red40: #D92736;
  --red50: #BA0202;
  --red60: #800000;
}
