.input {
  box-sizing: border-box;
  border: none;
  width: 400px;
  max-width: 100%;

  padding: 0 8px;
  margin-bottom: 20px;

  height: 2rem;
  font-size: 1rem;
  outline: none;

  border-radius: 4px;
  border: 1px solid var(--grey20);
  background: var(--grey40);
  color: var(--grey00);

  transition: all 150ms ease-in-out;
}

.input::placeholder {
  color: var(--grey30);
  font-size: 0.8rem;
}

.input:focus {
  box-shadow: 0 0 0 2px var(--grey30);
}
