.explainedcode-container {
  display: flex;
  flex-direction: row;

  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1100px) {
  .explainedcode-container {
    flex-direction: column;
  }
}

.explainedcode-explaination {
  flex: 1;
}

.explainedcode-code {
  flex: 1;
}
