.form {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  font-family: 'Tomorrow';
}

.form-header {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--grey20);
  padding-bottom: 8px;
  margin: 0 0 16px 0;
  border-bottom: 1px solid var(--grey20);
}

.form-header-2 {
  color: var(--grey20);
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0 0 16px 0;
}

.form-array {
  display: flex;
  flex-direction: column;
}

.form-array-item {
  display: flex;
  flex-direction: row;
}

.form-array-buttons {
  display: flex;
  flex-direction: row;
}

@media (max-width: 360px) {
  .form-array-buttons {
    flex-direction: column;
  }
}