.form {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  font-family: 'Tomorrow';

  padding: 24px 16px 8px 16px;

  border-radius: 9px;
  box-shadow:  10px 10px 19px #313946,
              -10px -10px 19px #455162;
  background: linear-gradient(145deg,#3f4a5a,#353e4c);
}

@media (max-width: 760px) {
  .form {
    margin-left: -24px;
  }
}

@media (max-width: 500px) {
  .form {
    width: 100vw;
    max-width: calc(100vw - 32px);
    margin-left: -80px;
    border-radius: 0;
    box-shadow: none;
  }
}

.form-header {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--grey20);
  padding-bottom: 8px;
  margin: 0 0 16px 0;
  border-bottom: 1px solid var(--grey20);
}

.form-header-2 {
  color: var(--grey20);
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0 0 16px 0;
}

.form-array {
  display: flex;
  flex-direction: column;
}

.form-array-item {
  display: flex;
  flex-direction: row;
}

.form-array-buttons {
  display: flex;
  flex-direction: row;
}

@media (max-width: 360px) {
  .form-array-buttons {
    flex-direction: column;
  }
}