.header2 {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 160px);
  padding: 40px 80px;
  justify-content: center;

  background: var(--grey50);
}

@media (max-width: 760px) {
  .header2 {
    padding: 40px 20px;
    width: calc(100vw - 40px);
  }
}

.header2-row {
  margin: 40px 0;
}

.header2-title {
  position: relative;
  display: inline-flex;

  font-family: 'Tomorrow', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--grey10);
  margin: 0;

  z-index: 0;
}

.header2-title::after {
  z-index: -1;
  content: "";
  position: absolute;
  bottom: -8px;
  left: 8px;
  right: -8px;

  height: 24px;
  background: #3f4959;
}

.header2-subtitle {
  display: inline-flex;

  font-family: 'Tomorrow', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: var(--grey10);
  margin: 0;
}


.header2-paragraph {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--grey20);
  font-weight: 300;
}
