.highlight-pre {
  box-sizing: border-box;
  margin: 0;
  border-radius: 9px;
  box-shadow:  10px 10px 19px #313946,
              -10px -10px 19px #455162;
}

.hljs {
  margin: 0;
  padding: 16px;
  font-size: 0.55rem;
  line-height: 1rem;
  border-radius: 9px;
  background: linear-gradient(145deg, #3f4a5a, #353e4c);
}

.highlight-label {
  margin: 4px 0;
  font-size: 1rem;
  color: var(--grey10);
}

@media (max-width: 760px) {
  .highlight-pre {
    margin-left: -40px;
    width: 100vw;
    border-radius: 0;
    box-shadow: none;
  }

  .hljs {
    border-radius: 3px;
    padding: 8px;
  }
}
