.pitch {
  position: sticky;
  top: 40px;
  display: flex;
  flex-direction: column;
}

.pitch-button-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.pitch-header {
  font-family: 'Tomorrow', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--grey20);
  margin: 0;
}

.pitch-header:not(:first-child) {
  margin-top: 40px;
  margin-left: 12px;
}

.pitch-paragraph {
  font-weight: 300;
  color: var(--grey20);
  margin-left: 12px;
  font-size: 1rem;
  line-height: 1.5rem;
}

.pitch-code {
  display: inline;
  box-shadow: none;
  border-radius: 3px;
  background: var(--grey60);
  padding: 3px 4px;
}

@media (max-width: 760px) {
  .pitch-header {
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin-left: 0;
  }

  .pitch-header:not(:first-child) {
    margin-left: 0;
  }

  .pitch-paragraph {
    margin-left: 0;
  }

  .pitch-button-container {
    margin-bottom: -24px;
  }
}
